.contact {
  width: 80%;
  /* height: 5000px; */
  display: flex;
  justify-items: center;
  margin-top: 10vh;
  margin-left: 22vh;
  margin-bottom: 30vh;
  /* box-shadow: 20px 20px 40px rgba(54, 55, 47, 0.3); */
  /* box-shadow: 0 0 30px rgba(0, 0, 0, 0.3); */
}

.contact-bigger {
  object-fit: cover;
  height: 100vh;
  background-image: url(https://i.ibb.co/Kbq5sCh/Abstract-Paper-1.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  /* position: relative;
  isolation: isolate; */
}

input[type="text"],
input[type="email"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

.contact-hero-h1 {
  width: 70%;
  font-size: 60px;
  text-align: center;
  margin-top: 30vh;
  position: absolute;
  color: #ecf0f1;
}

.contact-hero-h1-1 {
  color: rgba(28, 115, 136, 1);
}

.contact-hero {
  object-fit: cover;
  height: 80vh;
  background-image: url(https://i.ibb.co/BG4m1Tn/Contact-Photo.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  position: relative;
  isolation: isolate;
}

.contact-hero::before {
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: #000000af;
}

input[type="submit"] {
  background-color: #1c7388 !important;
  color: white;
  font-size: 20px;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  color: #fca510;
  transition: 0.5s;
}

.contact-container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  margin-top: 4vh;
  margin-left: 10.7vw;
}

.contact-container form input[type="submit"] {
  display: flex;
  margin-top: 3vh;
  margin-left: 13vw;
  border-radius: 30px;
  width: 20vw;
  padding: 2 vh 0;
  background-color: #04aa6d;
}

@media only screen and (max-width: 480px) {
  .contact-hero {
    height: 60vh;
  }

  .contact-hero-h1 {
    font-size: 20px;
    margin-top: 20vh;
  }

  .contact-bigger {
    display: flex;

    /* position: absolute; */
    /* left: 0px; */
    /* justify-content: center;  */
    height: 670px;
    /* margin-right: 50vw; */
    background-image: none;
    background-repeat: none;
    background-size: none;
    background-position: 0;
  }

  .contact-container {
    position: absolute;
    left: 0;

    /* border-radius: 5px; */
    /* padding: 0; */
    margin: 0;
  }

  .contact-container form input[type="submit"] {
    margin-left: 0vw;
    width: 100%;
    padding-right: 20vw;
    padding-left: 20vw;
  }
}
