.cardmain {
  display: flex;
  position: relative;
  margin-top: 3vh;

  height: 30vh;
  width: 150vh;
  border: 2px solid #ccc;
}

.cardmain-image {
  width: 40vh;
  height: 100%;
  object-fit: cover;
}

.cardmain-information {
  margin-left: 5vh;
}

.cardmain-title {
  font-size: 25px;
  margin-top: 3vh;
  margin-bottom: 2vh;
}

.cardmain-place {
  margin-bottom: 5vh;
}

.cardmain-feature-bedicon {
  height: 3vh;
}

.cardmain-feature-bathicon {
  height: 3vh;
}

.cardmain-feature-capacityicon {
  height: 3vh;
}

.cardmain-contact {
  margin-top: 6vh;
}

.cardmain-contact-price {
  margin-left: 20vw;
}

@media only screen and (max-width: 480px) {
  .cardmain {
    width: 94vw;
  }

  .cardmain-image {
    width: 35vw;
  }

  .cardmain-information {
    margin-left: 2vw;
  }
  .cardmain-information div {
    font-size: 16px;
  }

  .cardmain-title {
    margin-top: 1vh;
  }

  .cardmain-feature {
    width: 60vw;
  }

  .cardmain-feature span {
    display: none;
  }
  .cardmain-contact {
    display: flex;
    font-size: 1px;
    margin-left: 5vw;
  }

  .cardmain-contact span {
    font-size: 40px;
  }

  .cardmain-information span {
    font-size: 16px;
  }
}
