.signup-signupbox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
  margin-left: 30%;
  width: 30%;
}

.signup-signupbox-form-closeicon {
  position: absolute;
  top: 14vh;
  right: 33vw;
  color: black;
}

.signup-signupbox-form {
  width: 100%;
}

.signup-signupbox-title {
  color: #1c7388;
  padding-bottom: 20px;
}

.signup-signupbox {
  padding: 50px 100px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 50px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
  text-align: center;
}
.signup-signupbox-input {
  display: block;
  width: 100%;
  padding: 20px;
  margin-bottom: 10px;
  border: none !important;
  border-bottom: 1px solid gray !important;
  font-size: 20px;
}

.signup-signupbox-input[type="password"] {
  padding-left: 0.7rem;
  width: 27.8vw;
}

.signup-signupbox-button {
  display: block;
  margin-left: 21%;
  width: 60%;
  padding: 20px 3px;
  margin-top: 70px;
  background-color: #1c7388;
  color: #ecf0f1;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-size: 24px;
}

.signup-signupbox-button:hover {
  color: #fcba03;
  transition: 0.5s;
}

.signup-loginbox-haveaccount {
  margin-top: 50px;
  opacity: 80%;
}

.signup-signupbox-signin {
  font-size: 25px;
  opacity: 50%;
  text-decoration: none;
  margin-top: 40px;
}

.signup-signupbox-signin {
  cursor: pointer;
}

.signup-gobackbutton {
  display: none;
  position: absolute;
  top: 5vh;
  left: 5vw;
  color: #ecf0f1;
  border-radius: 30px;
  font-size: 20px;
  padding: 20px 50px;
  background-color: black;
}

@media only screen and (max-width: 480px) {
  .signup {
    height: 100%;
  }
  .signup-signupbox-form {
    margin-right: 200px;
  }
  .signup-signupbox {
    padding: 0px 40px;
    padding-top: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: none;
    box-shadow: none;
    text-align: center;
  }
  .signup-signupbox-title {
    margin-top: 0vh;
    margin-right: 10rem;
  }

  .signup-signupbox-form-closeicon {
    top: 2vh;
    right: 21vw;
  }
  .signup-signupbox {
    display: flex;
    justify-content: start;
    /* align-items: start; */
    margin-top: 0px;
    margin-left: 10%;
    width: 100%;
  }

  .signup-signupbox-input[type="password"] {
    width: 55vw;
  }

  .signup-signupbox-container {
    display: flex;
    justify-content: space-around;
  }

  .signup-signupbox-button {
    margin-left: 0;
    width: 100%;
    padding: 10px 10px;
    margin-top: 40px;
  }

  .signup-loginbox-haveaccount {
    margin-top: 20px;
    font-size: 14px;
  }

  .signup-signupbox-signin {
    font-size: 20px;
    margin-top: 16px;
  }

  .signup-signupbox-signin:hover {
    cursor: pointer;
  }
  .signup-signupbox-input {
    font-size: 16px;
    padding-left: 10px;
  }
}

@media only screen and (max-width: 480px) {
  .signup-signupbox {
    margin-left: 0vw;
    padding-left: 0;
    padding-right: 0px;
  }

  .signup-signupbox-form-closeicon {
    right: 4vw;
  }

  input[type="password"] {
    padding-right: 37vw;
  }
}
