.navBar {
  display: flex;
  justify-content: space-around;
  align-items: center;

  /* left: 8%; */
  width: 100%;
  background: transparent;
  position: fixed;
  z-index: 999;
}

.main-header-nav {
  display: flex;
  gap: 1rem;
}

.navBar-nav-login-rightside {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.navBar .link {
  color: #ecf0f1;
  font-size: 20px;
  text-decoration: solid;
}

.navBar .link:hover {
  color: #fca510;
  transition: 0.5s;
  /* text-decoration: underline; */
}

.navBar-logo {
  display: flex;
  justify-content: space-between;
  height: 10vh;
  width: 15%;
}

.navBar-logo h3 {
  align-self: center;
}

.logo-home {
  height: 8vh;
  /* height: 50%; */
  align-self: center;
}

.navBar-listproperties {
  padding: 10px 20px;
  color: #ecf0f1;
  background-color: #1c7388;

  border-radius: 50%;
}

.navBar-nav-middleside {
  display: flex;
  justify-content: space-between;
  width: 35%;
}

.navBar-nav-rightside {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  width: 15%;
}

.navBar-nav-register {
  padding: 6px 14px;
  border-radius: 50px;
  background-color: #1c7388;
}

.navBar-toggle-button {
  display: none;
  background: transparent;
  border: none;
  color: #ecf0f1;
  font-size: 20px;
  cursor: pointer;
  align-self: flex-start;
  margin: 10px;
}

@media (max-width: 480px) {
  /* .navBar {
    flex-direction: column;
    align-items: flex-start;
  } */

  .navBar-toggle-button {
    display: block;
  }

  .navBar-vertical {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

.mobile-nav-btn {
  display: none;
}

.mobile-navbar {
  position: absolute;
  top: 75px;
  left: 0;
  background-color: #36372f;
  width: 100%;
  height: 100svh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4rem;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: 0.2s;
}

.mobile-navbar.close {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

@media (max-width: 980px) {
  .main-header-nav {
    display: none;
  }

  .navBar-nav-login-rightside {
    display: none;
  }

  .mobile-nav-btn {
    display: block;
  }
}
